*, html{
    width: 100%;
    align-content: center;
    margin: 0%;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
    color: #170B4C;
    background-color: rgba(250, 250, 250);
    scroll-behavior: smooth;
}

h1{
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 7vh
}

h2{
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 5vh;
    margin-top: 5vh;
}

.signin{
    padding: 1vh;
    text-align: center;
    width: 15vh;
    background-color: var(--bs-blue);
    border-color: var(--bs-blue);
    border-radius: 0.6vh;
    font-size: 2vh;
}

.signup{
    padding: 1vh;
    text-align: center;
    width: 15vh;
    background-color: rgba(255, 255, 255, 0);
    color: var(--bs-blue);
    border-color: var(--bs-blue);
    border-radius: 0.6vh;
    font-size: 2vh;
}

.home{
    text-align: left;
    width: 20vh;
    color:#170B4C
}

.home::after, .home:active{
    box-shadow: none;
    border: none;
}

.container{
    text-align: center;
    max-width: 35%;
    margin: auto;
}

.card{
    border: none;
    padding: 5vh;
    background-color: rgba(250, 250, 250);
}

.icon{
    background: transparent;
    text-decoration-color: white
}

.chat{
    height: 70vh;
    overflow-y: scroll;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.quote {
    display: flex;
    width: 50%;
    margin: 2ex 1em;
    background-color: transparent;
}

.quote p {
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.quote p .time-ago {
    width: 30%;
    font-size: 90%;
    color: tint(#2d4154, 40%);
    text-align: right;
    background-color: transparent;
}

.quote blockquote {
    color: tint(#2d4154, 20%);
    margin: 0;
    margin-top: 1vh;
    text-align: left;
    background-color: transparent;
}

.quote .round-avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 1px solid #e0e8ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 0.5em;
    margin-left: 0.5em
}

.quote .round-avatar.hidden {
    display: none;
}

.quote .round-avatar.left {
    float: left
}

.quote .round-avatar.right {
    float: right
}

.quote .speech-bubble.left {
    border: 1px solid #e0e8ed;
    border-radius: 6px;
    position: relative;
    margin-left: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 1ex 1em;
    float: left;
}

.quote .speech-bubble.right {
    border: 1px solid #e0e8ed;
    border-radius: 6px;
    position: relative;
    margin-right: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 1ex 1em;
    float: right;
}

.quote .speech-bubble.left:after, .quote .speech-bubble.left:before {
    content: "";
    display: block;
    position: absolute;
}

.quote .speech-bubble.right:after, .quote .speech-bubble.right:before {
    content: "";
    display: block;
    position: absolute;
}

.quote .speech-bubble.left:after {
    top: 16px;
}

.quote .speech-bubble.right:after {
    top: 16px;
}

.quote .speech-bubble.left:before {
    top: 14px;
}

.quote .speech-bubble.right:before {
    top: 14px;
}

.quote .speech-bubble.left:after {
    border: 8px solid transparent;
    border-right: 8px solid #fdfdfe;
    left: -8px;
    border-left: none;
}

.quote .speech-bubble.right:after {
    border: 8px solid transparent;
    border-left: 8px solid #fdfdfe;
    right: -8px;
    border-right: none;
}

.quote .speech-bubble.left:before {
    border: 10px solid transparent;
    border-right: 10px solid #e0e8ed;
    left: -10px;
    border-left: none;
}

.quote .speech-bubble.right:before {
    border: 10px solid transparent;
    border-left: 10px solid #e0e8ed;
    right: -10px;
    border-right: none;
}

.quote .speech-bubble p {
    line-height: 1.3em;
    margin: 0;
    background-color: transparent;
}