*, html{
    width: 100%;
    align-content: center;
    margin: 0;
    font-family: 'TT Commons', sans-serif;
    font-size: 2.5vh;
    font-weight: 400;
    color: #212529;
    scroll-behavior: smooth;
}

.home{
    position: absolute;
    min-width: 100%;
    height: 100vh;
}

.curved {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    height: 90vh;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
  }

h1{
    margin-top: 3vh;
    font-family: 'TT Commons', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 7vh;
    color: white;
    line-height: 8vh;
}

p{
    color:#212529
}

.home p{
    padding-top: 5vh;
    font-size: 3vh
}

.curved p{
    color: white;
    margin-bottom: 7vh;
    margin-top: -2vh;
    font-size: 2.2vh;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2{
    font-family: 'TT Commons', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 4vh;
    text-align: left;
}

.container{
    text-align: center;
    max-width: 100%;
    margin: auto;
}

.card{
    border: none;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    padding: 3vh;
    padding-bottom: 10vh;
}

.icon{
    width: 25vh;
    height: auto;
    padding-left: 3vh;
    padding-right: 3vh;
}

.chat{
    max-height: 60vh;
    margin: auto;
    width: 60%;
    padding: 3vh;
    display: block;
    background-color:rgba(250, 250, 250);
    border: 1px solid #e0e8ed;
}

.quote {
    display: flex;
    width: 60%;
    margin: 2ex 1em;
    background-color: transparent;
}

.quote.right{
    margin-right: 0;
    margin-left: auto;
}

.quote.left{
    margin-left: 0;
    margin-right: auto;
}

.quote p {
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.quote p .time-ago {
    width: 30%;
    font-size: 90%;
    color: tint(#2d4154, 40%);
    text-align: right;
    background-color: transparent;
}

.quote blockquote {
    color: tint(#2d4154, 20%);
    margin: 0;
    margin-top: 1vh;
    text-align: left;
    background-color: transparent;
}

.quote .round-avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 1px solid #e0e8ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 0.5em;
    margin-left: 0.5em
}

.quote .round-avatar.hidden {
    display: none;
}

.quote .round-avatar.left {
    float: left
}

.quote .round-avatar.right {
    float: right
}

.quote .speech-bubble.left {
    border: 1px solid #e0e8ed;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    margin-left: 9px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 1ex 1em;
    background-color: white;
}

.quote .speech-bubble.right {
    border: 1px solid #e0e8ed;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    margin-right: 9px;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 1ex 1em;
    background-color: white;
}

.quote .speech-bubble.left:after, .quote .speech-bubble.left:before {
    content: "";
    display: block;
    position: absolute;
}

.quote .speech-bubble.right:after, .quote .speech-bubble.right:before {
    content: "";
    display: block;
    position: absolute;
}

.quote .speech-bubble.left:after {
    top: 16px;
}

.quote .speech-bubble.right:after {
    top: 16px;
}

.quote .speech-bubble.left:before {
    top: 14px;
}

.quote .speech-bubble.right:before {
    top: 14px;
}

.quote .speech-bubble.left:after {
    border: 8px solid transparent;
    border-right: 8px solid #fdfdfe;
    left: -8px;
    border-left: none;
}

.quote .speech-bubble.right:after {
    border: 8px solid transparent;
    border-left: 8px solid #fdfdfe;
    right: -8px;
    border-right: none;
}

.quote .speech-bubble.left:before {
    border: 10px solid transparent;
    border-right: 10px solid #e0e8ed;
    left: -10px;
    border-left: none;
}

.quote .speech-bubble.right:before {
    border: 10px solid transparent;
    border-left: 10px solid #e0e8ed;
    right: -10px;
    border-right: none;
}

.quote .speech-bubble p {
    line-height: 1.3em;
    margin: 0;
    background-color: transparent;
}